<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Cap_CustomerRequest::config_cap_customer_request" title="request"/>
						</resource>
					</resource>
				</resource>
				<resource id="Cap_CustomerRequest::Rma" sortOrder="10" title="Rma">
					<resource id="Cap_CustomerRequest::Rma_save" sortOrder="10" title="Save Rma"/>
					<resource id="Cap_CustomerRequest::Rma_delete" sortOrder="20" title="Delete Rma"/>
					<resource id="Cap_CustomerRequest::Rma_update" sortOrder="30" title="Update Rma"/>
					<resource id="Cap_CustomerRequest::Rma_view" sortOrder="40" title="View Rma"/>
				</resource>
				<resource id="Cap_CustomerRequest::Stock" sortOrder="10" title="Stock">
					<resource id="Cap_CustomerRequest::Stock_save" sortOrder="10" title="Save Stock"/>
					<resource id="Cap_CustomerRequest::Stock_delete" sortOrder="20" title="Delete Stock"/>
					<resource id="Cap_CustomerRequest::Stock_update" sortOrder="30" title="Update Stock"/>
					<resource id="Cap_CustomerRequest::Stock_view" sortOrder="40" title="View Stock"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
