<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<cap_customer_request>
			<stock>
				<default_message><![CDATA[I would like to be contacted to buy this product...]]></default_message>
				<attributes_sorting_order><![CDATA[color,size]]></attributes_sorting_order>
			</stock>
		</cap_customer_request>
	</default>
	<stores>
		<fr>
			<cap_customer_request>
				<stock>
					<default_message><![CDATA[Je souhaite être contacté pour acheter ce produit...]]></default_message>
				</stock>
			</cap_customer_request>
		</fr>
	</stores>
</config>