// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@modal-popup-request-form__max-width: 450px;

//
//  Common
//  _____________________________________________

.cap-customer-request-modal {
    .modal-inner-wrap {
        max-width: @modal-popup-request-form__max-width;

        .modal-header {
            .modal-title .subtitle {
                font-size: 1.8rem;
            }
        }

        .modal-content {
            h3 {
                font-weight: 400;
                font-size: 1.7rem;
                margin-bottom: 2rem;
            }

            .fieldset.create {
                .hidden-button {
                    display: none;
                }

                .field.product {
                    margin-bottom: 10px;
                }
            }

            .rma-popup-message {
                margin-top: 15px;
                padding-top: 15px;
                border-top: 1px solid #ccc;
            }
        }
    }
}

.cap-customer-request-customer-dashboard {
    .block-title span.subtitle {
        margin-left: 5px;
        font-size: 1.5rem !important;
    }
}
